<footer class="footer-section">
    <div class="container">
        <ul class="footer-menu">
            <li><a href="/">Trang Chủ</a></li>
            <li><a href="/review">Games</a></li>
            <li><a href="/categories">Blog</a></li>
            <li><a href="/community">Forums</a></li>
            <li><a href="/contact">Liên Hệ</a></li>
        </ul>
        <p class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            Game Warrior
            <i class="fa fa-heart-o" aria-hidden="true"></i> bởi
            <a href="https://colorlib.com" target="_blank">4 Sứ Giả</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
    </div>
</footer>