<nav class="main-menu">
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="review">Games</a></li>
        <li><a href="categories">Blog</a></li>
        <li><a href="community">Forums</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
</nav>